#gamescreen{
    position: absolute;
    border: 5px solid black;
    width: 600px;
    height: 300px;
    transform: translateX(350px);
    
}

#score{
    font-family: monospace;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

#gamefoot{
    transform: translateY(320px);
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    font-weight: 700;

}


#text{
    font-family: monospace;
    font-size: 50px;
    font-weight: 700;

}

.avatar{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: aqua;
  
}

.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: red;
  
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
}