#game-board {
        display: grid;
        grid-template-columns: repeat(20, 20px);
        grid-template-rows: repeat(20, 20px);
        border: 1px solid black;
      }
      .cell {
        background-color: white;
        border: 1px solid black;
      }
      .snake {
        background-color: #000;
      }

      .food {
        background-color: red;
      }
      #score-display{
        font-size: 25px;
        text-align: center;
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }